body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.calculator{
    border: 7px solid darkgrey;
    background-color: rgba(47, 56, 56, 0.386);
    border-radius: 3%;
    border-style: outset;
}

.btn{
    height: 55px;
    width: 55px;
    margin: 10px;
    font-size: 35px;
}

.row-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#clear-btn{
    border: 3px solid black;
    border-style: ridge;
    background-color: rgb(173, 34, 34);
}

#clear-btn:hover{
    background-color: cornsilk;
}

#number-btn{
    border: 3px solid rgba(0, 0, 0, 0.566);
    border-style: ridge;
    background-color: black;
    color: white;
}

#number-btn:hover{
    background-color: cornsilk;
}

#operator-btn{
    border: 3px solid black;
    border-style: ridge;
    background-color: rgba(72, 157, 226, 0.591);
}

#operator-btn:hover{
    background-color: cornsilk;
}

#decimal-btn{
    border: 3px solid black;
    border-style: ridge;
    background-color: rgba(219, 160, 51, 0.587);
}

#decimal-btn:hover{
    background-color: cornsilk;
}

#equal-btn{
    border: 3px solid black;
    border-style: ridge;
    background-color: rgba(255, 255, 255, 0.589);
}

#equal-btn:hover{
    background-color: cornsilk;
}